body {
  font-family: Roboto;
  font-size: 1em;
  background-color: #caccce;
}
.eastbound {
  margin-top: -15px;
}
.topWrapper {
  background-color: #3F51B5;
  height: 24px;
}
.secondWrapper {
  background-color: #303F9F;
  height: 55.5px;
  box-shadow: 0px 4px 4px grey;
}
.stop {
  font-size: 18px;
  color: white;
  padding-left: 55px;
  margin-top: -18px;
  letter-spacing: 1.5px;
  text-decoration: none;
}
.bottomNavigation {
  position: fixed;
  bottom: 0;
  height: 48px;
  width: 100%;
  background-color: #000000;
}
.route {
  padding-left: 18px;
  padding-top: 40px;
  line-height: 1.23em;
}
p {
  color: #ffffff;
  float: right;
  margin-right: 9px;
  margin-top: 5px;
}
h1 {
  font-weight: bold;
  letter-spacing: 1.5px;
  margin-bottom: 2.5px;
  text-decoration: underline;
}
h3 {
  font-weight: 600;
  text-align: right;
  margin-top: -18px;
  padding-right: 17px;
  color: #303F9F
}
.fas {
  color: #ffffff;
  padding-left: 18px;
  padding-top: 20px;
}
.fa-angle-left {
  color: #ffffff;
  font-size: 30px;
  padding-left: 55px;
  margin-top: -12px;
}
.fa-circle {
  color: #ffffff;
  font-size: 25px;
  padding-left: 89px;
}
.fa-square {
  color: #ffffff;
  font-size: 25px;
    padding-left: 89px;
}
